body {
    /*background: url(./web\ programing/2ndloginpic.jpg) no-repeat center center fixed;*/
    background-size: cover;
    font-size: 15px;
}



* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    position: absolute;
    top: 15%;
    left: 38%;
    font-size: larger;
    border-radius: 6px;
}

.wrap {
    border-radius: 3px;
    text-align: center;
    width: 100%;
    display: flex;
    margin-top: 10px;
    border: 3px solid rgb(137, 230, 230);
    padding: 8px;
}


.wrap input {
    width: 75%;
    border: none;
    outline: none;
    font-size: 18px;
    margin: 2px 23px;
    margin-top: 5px;
}

.container h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    /*  border-bottom: 3px solid rgb(98, 98, 154); */
    padding: 10px;
    text-align: center;
    color: rgb(5, 84, 82);
    margin-bottom: 5px;
}

.button {
    outline: none;
    /*padding: 0 0 0 45px;*/
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    transition: .3s;
    margin-top: 15px;
    margin: 15px;
    text-align: center;
    background-color: rgb(137, 230, 230);

}

#submit.button {
    text-align: center;
    /*width: 85%;*/
    border: 3px solid rgb(137, 230, 230);
    width: 75%;
    border: none;
    font-size: 15px;
    margin: 5px 23px;
    margin-top: 20px;
    padding: 10px;
}


.button:hover {
    /*  box-shadow:1px 5px 7px 1px plum ;*/
    color: white;
    background: rgb(98, 98, 154);
    font-weight: bold;
}

.wrap3 {
    margin-top: 0;
    padding: 2px;
    outline: none;
    display: flex;



}

.wrap2 {
    font-size: 20px;
    margin-top: 5px;
    padding: 5px;
    outline: none;
    border: 2px solid rgb(137, 230, 230);
}

.wrap i {
    width: 5%;
    text-align: left;
}


.wrap3 i {

    text-align: left;
    float: left;
    margin: 0%;
    padding: 0%;


}

.wrap2 input {
    font-size: large;
    margin-top: 5px;
    padding: 5px;
    width: 44%;
    border: none;
}


.wrap1 input {

    width: 44%;
}

.first {
    margin-bottom: 0px;

}

.wrap3 legend {
    font-family: 'Times New Roman', Times, serif;
}

/*nav*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(137, 230, 230);
    padding-right: none;

}

li {
    float: right;

}

li a {
    display: block;
    color: rgb(5, 84, 82);
    text-align: center;
    padding: 20px 25px;
    text-decoration: solid;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

li a:hover {
    background-color: rgb(98, 98, 154);
    color: white;
}

#logo {
    float: left;
    padding-left: 5px;
    height: 10;
    width: 20;
    padding-top: 5px;

}